{% extends 'base.html' %}


<!-- head extension -->
{% block head %}  
<title> home </title>
{% endblock %}

<!-- body extension  -->

{% block body %}
<br>
<br>
<br>
<br>
<br>
<div class="jumbotron">
    <h1 class="display-4">Hello, There!!!</h1>
    <p class="lead">The first thing you need to decide when you build your blog is what you want to accomplish with it, and what it can do if successful.</p>
    <hr class="my-4">

    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/posts/new" role="button">Create a new Post</a>
    </p>
  </div>
{% endblock %}