{% extends 'base.html' %}

{% block head %}
<title>new Post</title> 
{% endblock %}

{% block body %}
<br>
<br>
    <h2 class=display-4>Create Post:</h2>
    <form action="/posts" method="POST">
        <p class="lead">Title:</p> 
        <input type="text" class="form-control" name="title" id="title" />
        <br />
        <p class="lead">Author:</p> 
        <input type="text" class="form-control" name="author" id="author" />
        <br />
        <p class="lead">Content:</p>
        <textarea class="form-control" aria-label="With textarea" name='content' id="content"></textarea>
        <br />
        <center>
        <input type="Submit"  class="btn btn-success" value="Post" />
      </center>
      </form>
    <hr>
{% endblock %}


