{% extends 'base.html' %}

<!-- head extension -->
{% block head %}
<title>Posts</title>
{% endblock %}

<!-- body extension  -->

{% block body %}
<h2>All Posts</h2>

<hr />
<h2>Create new Post:</h2>
<form action="/posts" method="POST">
  Title: <input type="text" name="title" id="title" />
  <br />
  Post: <input type="text" name="content" id="content" />
  <br />
  Author: <input type="text" name="author" id="author" />

  <input type="Submit" value="post" />
</form>
<hr />

{% for post in posts%}
<h2>Title: {{ post.title }}</h2>
{% if post.author %}
<h5>Author: {{ post.author }}</h5>
{%else%}
<h5>Author: N/A</h5>

{%endif%}
<p>Content: {{ post.content }}</p>
<a href="/posts/delete/{{post.id}}">Delete</a>
<a href="/posts/edit/{{post.id}}">Edit</a>
{% endfor %} {% endblock %}
